// _vars.scss
$yellow: #fdbd2c;
$orange: #f6891e;
$magenta: #c8175e;
$green: #86c82d;
$grey: #717780;

/* Grey scale */
$b-1: #212121;
$b-2: #727272;
$b-3: #B6B6B6;
$w: #fff;

/* Main variables */

$font-stack: Helvetica, Arial, sans-serif;
$primary-color: $b-1;
